.menu__mobile-button {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none !important; /* use of important to overwrite ant-btn */
    background: #3e91f7;
    margin-left: auto;
  }

  @media (max-width: 767px) {
    .menu__mobile-button {
      display: block !important;
    }
  }
  